    <%# <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Cover</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header> %>

    <main class="px-3">
      <div class="bio lead">
        <p class="lead">Hey there! I'm Dani, a keyboard enthusiast who makes custom keyboard cables. Follow along to see
          my custom keyboard journey.</p>
      </div>
        <div class="lead blog">
          <h2><%= link_to "My Keyboard Journey", blog_posts_path %></h2>
          <p>Want to know how I got into the hobby? Have questions about my recent builds? This is the place to be.</p>
        </div>
        <div class="lead gallery">
          <h2><%= link_to "Gallery", gallery_path %></h2>
          <%# keyboard gallery link and photo %>
          <%# cable gallery link and photo %>
        </div>
        <%# <div class="lead shop">
          <h2><%= link_to "Shop", "/shop" %></h2>
        <%# </div> %> 
        <div class="lead build_service">
          <h2><%= link_to "Build Service", new_build_service_path %></h2>
          <p>Interested in having me build a keyboard for you? I would love to solder and assemble your new keyboard.
            Fill out my form for additional information!</p>
        </div>

    </main>

    </div>

    </body>

    </html>