
<h1>DaniPopDesigns</h1>

<h2>Bio</h2>
<p>Hey there! I'm Dani, a keyboard enthusiast who happens to make custom keyboard cables. You can catch me on twitch: <a href="https://www.twitch.tv/danipopdesigns">@danipopdesigns</a> and instagram: <a href="https://www.instagram.com/danipopdesigns/">@danipopdesigns</a>. Follow along to see my keyboard journey.</p>

<h2><a href="blog/feed">My Keyboard Journey</a></h2>
<p>Want to know how I got into the hobby? Have questions about my recent builds? This is the place to be.</p>

<h2><a href="gallery/gallery">Gallery</a></h2>

<h2><a href="build_service/form">Build Service</a></h2>
<p>Interested in having me build a keyboard for you? I would love to solder and assemble your new keyboard. Fill out my form for additional information!</p>
